<h1>{{user.username}}</h1>
<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<br><br>
<form action="/auth/logout" method="post">
    <button type="submit">Logout</button>
</form>
 <button onclick="window.location.href='/auth/main'">Main page</button> 
 <button onclick="window.location.href='/auth/private'">Private page</button> 